@import '~@uds/components/src/scss/flexbox';

.Members {
  > .UDSAccordionContent {
    padding: 16px;
  }

  .group {
    height: 64px;
  }

  .button--createTag {
    width: 100%;
    justify-content: flex-start;
    color: #007562;
    border-top: 1px solid #dedfe0;
  }
}
