@import '~@uds/components/src/scss/flexbox';

.Header {
  @include display-flex(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  box-sizing: border-box;
  padding: 0 0 0 16px;
  height: 48px;
  min-height: 48px;
}
